<div class="content">
  <div class="row">
    <div class="small-12 columns">

      <article>
        <div class="{{post_class}}">
          <div class="postcontent">
            <h1><span>{{title}}</span></h1>
            {{#if image}}
            <p><img src="{{image}}" alt="{{title}}" /></p>
            {{/if}}

            {{content}}
          </div>
          <div class="meta">
            <div class="row">
              <div class="small-12 large-8 medium-8 columns">
                <abbr title="{{date published_at}}"><i class="fa fa-clock-o"></i> {{date published_at timeago="true"}}</abbr>, <i class="fa fa-user"></i> by {{#author}}<a href="{{url}}">{{name}}</a>{{/author}}{{#if tags}}, <i class="fa fa-tags"></i> on {{tags}}{{/if}}
              </div>
              <div class="small-12 large-4 medium-4 columns">
                {{! Share Buttons }}
                <div class="shareit">
                  {{!-- <div class="social-likes social-likes_single" data-single-title="Share"> --}}
                    {{!-- <div class="facebook" title="Share link on Facebook">Facebook</div> --}}
                    {{!-- <div class="twitter" data-via="{{@blog.title}}" data-related="{{encode title}}" title="Share link on Twitter">Twitter</div> --}}
                    {{!-- <div class="plusone" title="Share link on Google+">Google+</div> --}}
                  {{!-- </div> --}}
                  <div class="button"><a href="https://twitter.com/share" class="twitter-share-button"{count} data-text="Lorem ipsum" data-via="KazamatsuriOrg"><i class="fa fa-twitter"></i> Tweet</a></div>
                  <div class="button fb-share-button" data-href="http://www.your-domain.com/your-page.html" data-layout="button"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>

      <div class="prevnext">
        <div class="row">
          <div class="small-12 large-6 columns">
            {{#prev_post}}
            <div class="prev">
              <h6>PREVIOUS POST</h6>
              <a href="{{url}}"><p>{{title}}</p></a>
            </div>
            {{/prev_post}}
          </div>

          <div class="small-12 large-6 columns">
            {{#next_post}}
            <div class="next">
              <h6>NEXT POST</h6>
              <a href="{{url}}"><p>{{title}}</p></a>
            </div>
            {{/next_post}}
          </div>
        </div>
      </div>

      {{#if author}}
      <div class="author-wrap" {{#if author.cover}}style="background-image: url({{author.cover}})"{{/if}}>
        <div class="row">
          <div class="small-12 columns">

            {{#if author.image}}
            <img src="{{author.image}}" alt="{{author.name}}" class="alignleft"/>
            {{/if}}

            <h5>{{author.name}} {{#if author.website}}<span>- <a href="{{author.website}}" target="_blank">{{author.website}}</a></span>{{/if}}</h5>

            {{#if author.bio}}
            <p>{{author.bio}}</p>
            {{/if}}

          </div>
        </div>
      </div>
      {{/if}}

      {{> comments}}

    </div>
  </div>
</div>
