{{! Navigation }}
<div class="main-nav">
  <div class="row">
    <div class="small-12 columns">
      <nav class="desktop-menu">
        <ul class="sf-menu">
          {{!-- {{#foreach navigation}} --}}
            {{!-- <li class="nav-{{slug}}{{#if current}} current-menu-item{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li> --}}
          {{!-- {{/foreach}} --}}
          
          <li><a href="{{@blog.url}}/">NEWS</a></li>
          <li><a href="https://forum.rokkenjima.org/">FORUM</a></li>
          <li><a href="https://forum.rokkenjima.org/t/welcome-to-rokkenjima/8">WELCOME</a></li>
          <li><a href="http://www.mangagamer.org/07thExpansion/">ABOUT 07TH EXPANSION</a></li>
          <li>
            <a>TEA PARTIES</a>
            <ul>
              <li><a href="{{@blog.url}}/higurashi-tea-party">HIGURASHI TEA PARTY</a></li>
			  <li><a href="{{@blog.url}}/umineko-tea-party">UMINEKO TEA PARTY</a></li>
            </ul>
          </li>
          <li>
            <a>TAGS</a>
            <ul>
              <li>
                <a href="#">SERIES:</a>
                <ul>
                  <li><a href="{{@blog.url}}/tag/higurashi">HIGURASHI</a></li>
                  <li><a href="{{@blog.url}}/tag/umineko">UMINEKO</a></li>
                  <li><a href="{{@blog.url}}/tag/higanbana">HIGANBANA</a></li>
                  <li><a href="{{@blog.url}}/tag/rose-guns-days">ROSE GUNS DAYS</a></li>
                  <li><a href="{{@blog.url}}/tag/trianthology">TRIANTHOLOGY</a></li>
                  <li><a href="{{@blog.url}}/tag/iwaihime">IWAIHIME</a></li>
                </ul>
              </li>
				<li><a href="{{@blog.url}}/tag/announcement">ANNOUNCEMENT</a></li>
				<li><a href="{{@blog.url}}/tag/community">COMMUNITY</a></li>
				<li><a href="{{@blog.url}}/tag/tea-party">TEA PARTY</a></li>
				<li><a href="{{@blog.url}}/tag/music">MUSIC</a></li>
				<li><a href="{{@blog.url}}/tag/goods">GOODS</a></li>
				<li><a href="{{@blog.url}}/tag/event">EVENT</a></li>
				<li><a href="{{@blog.url}}/tag/video">VIDEO</a></li>
				<li><a href="{{@blog.url}}/tag/podcast">PODCAST</a></li>
				<li><a href="{{@blog.url}}/tag/meta">META</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<nav class="mobile-menu">
  <ul>
    {{!-- {{#foreach navigation}} --}}
      {{!-- <li class="nav-{{slug}}{{#if current}} current-menu-item{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li> --}}
    {{!-- {{/foreach}} --}}

    <li><a href="{{@blog.url}}/">NEWS</a></li>
          <li><a href="https://forum.rokkenjima.org/">FORUM</a></li>
          <li><a href="https://forum.rokkenjima.org/t/welcome-to-rokkenjima/8">WELCOME</a></li>
          <li><a href="http://www.mangagamer.org/07thExpansion/">ABOUT 07TH EXPANSION</a></li>
          <li>
            <a>TEA PARTIES</a>
            <ul>
              <li><a href="{{@blog.url}}/higurashi-tea-party">HIGURASHI TEA PARTY</a></li>
			  <li><a href="{{@blog.url}}/umineko-tea-party">UMINEKO TEA PARTY</a></li>
            </ul>
          </li>
          <li>
            <a>TAGS</a>
            <ul>
              <li>
                <a href="#">SERIES:</a>
                <ul>
                  <li><a href="{{@blog.url}}/tag/higurashi">HIGURASHI</a></li>
                  <li><a href="{{@blog.url}}/tag/umineko">UMINEKO</a></li>
                  <li><a href="{{@blog.url}}/tag/higanbana">HIGANBANA</a></li>
                  <li><a href="{{@blog.url}}/tag/rose-guns-days">ROSE GUNS DAYS</a></li>
                  <li><a href="{{@blog.url}}/tag/trianthology">TRIANTHOLOGY</a></li>
                  <li><a href="{{@blog.url}}/tag/iwaihime">IWAIHIME</a></li>
                </ul>
              </li>
				<li><a href="{{@blog.url}}/tag/announcement">ANNOUNCEMENT</a></li>
				<li><a href="{{@blog.url}}/tag/community">COMMUNITY</a></li>
				<li><a href="{{@blog.url}}/tag/tea-party">TEA PARTY</a></li>
				<li><a href="{{@blog.url}}/tag/music">MUSIC</a></li>
				<li><a href="{{@blog.url}}/tag/goods">GOODS</a></li>
				<li><a href="{{@blog.url}}/tag/event">EVENT</a></li>
				<li><a href="{{@blog.url}}/tag/video">VIDEO</a></li>
				<li><a href="{{@blog.url}}/tag/podcast">PODCAST</a></li>
				<li><a href="{{@blog.url}}/tag/meta">META</a></li>
            </ul>
          </li>
  </ul>
</nav>
